.symptoms-area {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #f1f5fe;
  background-size:cover;
  background-repeat: no-repeat;
}

.symptoms-image {
  position: relative;
  left: -30px;
}

.symptoms-section {
  position: relative;
  z-index: 1;
}

.symptoms-section.bg-white-color {
  padding-top: 10px;
}

.symptoms-section.bg-white-color::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -60px;
  height: 60px;
  border-radius: 5px 5px 0 0;
  background-color: #ffffff;
  width: 100%;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
}
hr{
  border: 0;
  height: 1px;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0),#fdbc00,rgba(0, 32, 59, 0.75) ,#fdbc00, rgba(0, 0, 0, 0));
}
h3{
  text-transform: uppercase;font-weight: 600;
}
.y{
  cursor: pointer;
  padding:10px;margin:20px;text-align: center;font-weight: 500;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background-color:#fdbc00; letter-spacing: 0.5px ;font-family: Verdana, Geneva, Tahoma, sans-serif ;color: rgba(0, 32, 59, 23);border-radius: 30px;
}
.y:hover{
  transform: scale(1.05);
}
