<section class="symptoms-section bg-white-color pb-100">
  <div class="container">
      <div class="section-title">
          <span class="sub-title">Symptoms</span>
          <h2>Corona Virus Symptoms</h2>
      </div>

      <div class="row align-items-center">
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="symptoms-box-list">
                  <div class="box-item">
                      <div class="img">
                          <img src="assets/img/symptoms-icon1.png" alt="image">
                      </div>
                      <h3>Cough</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>

                  <div class="box-item">
                      <div class="img">
                          <img src="assets/img/symptoms-icon2.png" alt="image">
                      </div>
                      <h3>Strong Headache</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>

                  <div class="box-item">
                      <div class="img">
                          <img src="assets/img/symptoms-icon3.png" alt="image">
                      </div>
                      <h3>Confusion</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>
              </div>
          </div>



          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="symptoms-box-list">
                  <div class="box-item">
                      <div class="img">
                          <img src="assets/img/symptoms-icon4.png" alt="image">
                      </div>
                      <h3>Hot Fever</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>

                  <div class="box-item">
                      <div class="img">
                          <img src="assets/img/symptoms-icon5.png" alt="image">
                      </div>
                      <h3>Shortness Of Breath</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>

                  <div class="box-item">
                      <div class="img">
                          <img src="assets/img/symptoms-icon6.png" alt="image">
                      </div>
                      <h3>Sore Throat</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
<!--
  <div class="symptoms-shape1"><img src="assets/img/symptoms-shape1.png" alt="image"></div>
  <div class="symptoms-shape2"><img src="assets/img/symptoms-shape2.png" alt="image"></div> -->
</section>
