
<nav class="navbar navbar-expand-lg navbar-dark" #stickyMenu [class.sticky] = "sticky" >
  <div class="container-fluid">
    <a class="navbar-brand" style="cursor: pointer; font-weight: 500; color:whitesmoke" routerLink="/index">Covid-19 Tracker</a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"[routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link " routerLink="index">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/states">Get Vaccicne Centre</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" style="cursor: pointer;" routerLink="summary" >Summary</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" style="cursor: pointer;" *ngIf="aus.gettoken() else logout" (click)="log()" >Logout</a>
        </li>
        <ng-template #logout>
          <a class="nav-link " style="cursor: pointer;" routerLink="/VaccineLogin" >Login</a>
        </ng-template>

      </ul>
    </div>
  </div>
</nav>

