<div class="container-sm">
  <div style="text-align: center;">
    <hr style="width: 30%;">

    <h5 style="text-transform: uppercase;font-family:sans-serif;font-size: 20px; color: rgba(0, 32, 59, 23);">Common Quetions</h5>
    <hr style="width:30%">
  </div>
  <div id="accordion">
    <div class="card" style="border-radius: 20px;">
      <div class="card-header" style="background: #fdbc00;border-radius: 20px 20px 0 0 ; text-align: center;" id="headingOne" >
        <h5 class="mb-0">
          <button class="btn btn-link" style="color: rgba(0, 32, 59, 23);font-weight: 500;"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Why Vaccine?
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show"  style="background:rgba(0, 32, 59, 23); color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: 200;font-size: 18px;line-height: 24px;"aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <ol>
            <li >Vaccine-preventable diseases have not gone away</li>
            <p >The viruses and bacteria that cause illness and death still exist and can be passed on to those who are not protected by vaccines. While many diseases are not common in the US, global travel makes it easy for diseases to spread.</p>
            <li >Vaccines will help keep you healthy</li>
            <p >The Centers for Disease Control and Prevention (CDC) recommends vaccinations throughout your life to protect against many infections. When you skip vaccines, you leave yourself vulnerable to illnesses such as shingles, pneumococcal disease, flu, and HPV and hepatitis B, both leading causes of cancer.</p>
            <li >Vaccines are as important to your overall health as diet and exercise</li>
            <p >Like eating healthy foods, exercising, and getting regular check-ups, vaccines play a vital role in keeping you healthy. Vaccines are one of the most convenient and safest preventive care measures available.</p>
          </ol>
        </div>
      </div>
    </div>
    <hr class="xx">
    <div class="card">
      <div class="card-header" style="background: #fdbc00;text-align: center;" id="headingTwo">
        <h5 class="mb-0" >
          <button class="btn btn-link collapsed" style="color: rgba(0, 32, 59, 23);font-weight: 500;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Is it safe to take vaccine?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" style="background:rgba(0, 32, 59, 23); color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: 200;font-size: 18px;line-height: 22px;"aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <h4 style="font-weight: 500;">How do we know Covid vaccines are safe?</h4>
          <div><p >Safety trials begin in the lab, with tests and research on cells and animals, before moving on to human studies.The principle is to start small and only move to the next stage of testing if there are no outstanding safety concerns.</p>
          </div>
          </div>
      </div>
    </div>
    <hr class="xx">
    <div class="card" style="border-radius: 0 0 20 20 ;">
      <div class="card-header x" style="background: #fdbc00;border-radius: 0 0 20px 20px;text-align: center;" id="headingThree">
        <h5 class="mb-0" >
          <button class="btn btn-link collapsed"  style="color: rgba(0, 32, 59, 23);font-weight: 500;" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            When will  i get Corona Vaccine?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" style="background:rgba(0, 32, 59, 23); color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: 200;font-size: 18px;line-height: 22px;"aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <p >Yes! you are at right place to get vaccine slot for free go to our top header and register your first vaccine slot!</p>
          <button mat-raised-button routerLink="/states" >Get Vaccine</button>

        </div>
      </div>
    </div>
  </div>
  <br>
</div>
