.md-card-image{
  width: 100%;
  height: auto;
}
.mat-divider{
  color: crimson;
  width: 10%;
  height: 10px;
}
 .mat-card{
   width: 100%;
   height: 100%;
 }
 .mat-card-subtitle{
   font-size: medium;
 }

 .mat-card-content{
   font-size: 10px;
   line-height: 1.3em;
 }

 hr{
  border: 0;
  height: 2px;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0),#fdbc00,rgba(0, 32, 59, 0.75) ,#fdbc00, rgba(0, 0, 0, 0));
}

.x{
  cursor: pointer;
}
.x:hover{
  transform: scale(1.08);
}

/*
.blnk{
  font-size: 35px;padding:10px;color:#ff0000;
  animation: blinker 1.5s linear infinite;
} */
/*
@keyframes blinker{
  60%{
    opacity: 0.2;
  }
}

.dot{
  width: 11px;
  height: 11px;
  background-color: #ff0000;
  margin-right: 3px;
  border-radius: 50%;
  display: inline-block;
} */
