
<div class="container" data-aos="fade-up" style="margin-top: 60px;"
data-aos-anchor-placement="bottom-bottom" data-aos-duration="1000">
  <mat-grid-list cols="4" rowHeight="80px" >
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color" >
        <a href="tel:911123978046" style="color: whitesmoke;" class="number" *ngIf=" tile.text == '91 11 23 978046' "><mat-icon aria-hidden="false" style="font-size: 30px;  background:rgba(0, 32, 59, 23) ;
">call</mat-icon><span>&nbsp; &nbsp;	</span>{{ tile.text }}</a>
        <a href="tel:1075" class="number" style="color: whitesmoke;" *ngIf=" tile.text == '1075' "><mat-icon style="font-size: 30px;" aria-hidden="false">person</mat-icon><span>&nbsp; &nbsp;	</span>{{ tile.text }}</a>
      <div *ngIf=" tile.text != '91 11 23 978046' && tile.text != '1075'  " style="color:rgba(0, 32, 59, 23);font-weight: 500;font-size: 30px;">{{tile.text}}</div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<br>
<img src="https://www.cowin.gov.in/assets/images/largest-vaccine-banner.jpg" class="img-fluid" style="width: 100%;">
<div class="main-div">
<mat-card layout="row" layout-align="center center">
  <mat-card-subtitle style="color: whitesmoke;">Serch Vaccine Centres</mat-card-subtitle>
  <mat-card-content>
    <mat-tab-group [color]="'primary'"   style="justify-content: space-between;" style="background-color: whitesmoke;padding: 8px;color: black;">
      <mat-tab label="Search by pin" >
        <div class="pin" style="justify-content: space-between;">
          <form class="container" [formGroup]="formpin" (ngSubmit)="formpin.valid && getpin()">
          <mat-form-field class="formfield" >
          <mat-label>Postal Code</mat-label>
          <input matInput #postalCode maxlength="6" placeholder="Ex. 941056" [formControlName]="'code'">
          <mat-error *ngIf="formpin.controls.code.invalid && formpin.controls.code.touched">Please Enter valid Pincode</mat-error>
        </mat-form-field>
        <button mat-raised-button style="margin-left: 2%;background-color:rgba(0, 32, 59, 23);color: whitesmoke;">Search</button>
      </form>

        </div>
      </mat-tab>
      <mat-tab label="States">
        <div class="pin" style="justify-content: space-between;">
          <form class="States" [formGroup]="stNdDst">
            <mat-form-field class="formfield">
              <mat-label>State</mat-label>
              <input matInput
                     aria-label="State"
                     [matAutocomplete]="auto"
                     [formControl]="stateCtrl" [(ngModel)]="stName"  >
              <mat-autocomplete #auto="matAutocomplete" >

                <mat-option *ngFor="let state of filteredStates | async" [value]="state.state_name" (onSelectionChange)="getdistrict(state.state_id)">

                  <span>{{state.state_name}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <br>
            <mat-form-field class="formfield">
              <mat-label>District</mat-label>
              <input matInput
                     aria-label="District"
                     [matAutocomplete]="auto1"
                     [formControl]="disCtrl" [readonly]="dstSelect">
              <mat-autocomplete #auto1=matAutocomplete>
                <mat-option *ngFor="let district of filteredDistrict | async" [value]="district.district_name" (onSelectionChange)="getdata(district.district_id)">

                  <span>{{district.district_name}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        <button mat-raised-button  style="margin-left: 2%;background-color:rgba(0, 32, 59, 23);color: whitesmoke;" >Search</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
</div>
<div *ngIf="table" >
  <div class="row container">
  <mat-selection-list #dates [multiple]="false">
    <div class="option" >
    <mat-list-option *ngFor="let d of date" [value]="d">
     {{d | date}}
    </mat-list-option>
  </div>
  </mat-selection-list>
</div>

  <mat-list role="mat-list" >
  <div class="vaccineFiltersHolder">
    <button class="vaccineFilter"><span>Age 18-44</span></button>
    <div class="vaccineFilter">Age 45+</div>
    <div class="vaccineFilter">Dose 1 available</div>
    <div class="vaccineFilter">Dose 2 available</div>
    <div class="vaccineFilter">Free</div>
    <div class="vaccineFilter">Paid</div>
    <div class="vaccineFilter">Covishield</div>
    <div class="vaccineFilter">Covaxin</div>
    <div class="vaccineFilter">Sputnik V</div>
  </div>


    <mat-list-item role="listitem" *ngFor="let card of center | paginate:
    { itemsPerPage: 10, currentPage: p }">
      <div class="container-fluid" >
        <div class="row">
      <mat-card style="background-color: whitesmoke; width:100%;" >
        <mat-card-header style="display: flex;" aria-label="Center">
          <img mat-grid-avatar src="">
          <div class="col-md-6">
          <mat-card-title style="font-size:medium;">{{card.name}}</mat-card-title>
          <mat-card-subtitle style="font-size:smaller;">{{card.address}}</mat-card-subtitle>
        </div>
        <div class="col-md-6-left" >
          <div class="age text-center" style="background-color: green;" *ngIf="card.available_capacity!=0;else booked"> {{card.available_capacity}}</div>
          <ng-template  #booked><div class="age text-center" style="background-color: red;">Booked</div></ng-template>
          <div class="age text-center" style="margin-top: 2px;background-color: transparent;">{{card.fee_type}}</div>

      </div>
        </mat-card-header>
        <mat-card-actions>
          <div class="row">
            <div class="age">Age: {{card.min_age_limit}}+</div>

            <button mat-stroked-button  matTooltip={{card.slots}} [matTooltipPosition]="'above'" >Slots time</button>

            <div style="margin-left: 2%;margin-top: auto;"> Dose 1: </div>
            <div *ngIf="card.available_capacity_dose1!=0;else close" class="box text-center" style="margin-top: auto;">{{card.available_capacity_dose1}}</div>
            <div style="margin-left: 2%;margin-top: auto;"> Dose 2: </div>
            <div *ngIf="card.available_capacity_dose2!=0;else close" class="box text-center">{{card.available_capacity_dose2}}</div>
            <ng-template  #close>
              <mat-icon [ngStyle]="{'color':'red'}" style="margin-top: auto;">close</mat-icon>
            </ng-template>
        </div>


        </mat-card-actions>

      </mat-card>
    </div>
    </div>

    </mat-list-item>

  </mat-list>
<div class="page">
  <pagination-controls
  (pageChange)="p = $event" [responsive]="true" maxSize:10
 ></pagination-controls>
</div>
  </div>
<app-footer></app-footer>

