.mat-label{
  width: 20%;

}
.mat-lable:active{
  background-color: red;
}
.main-div{
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 10%;
}

@media (max-width:618px){
  .main-div{
    margin-top: 5%;
    justify-content: center;
    display: block;
    margin-bottom: 10%;
  }
}

.tab{
  justify-content: space-between;background-color: whitesmoke;padding: 8px;color: black;
}
mat-card{
  background:rgba(0, 32, 59, 23) ;
}
/* mat-tab-group{
  background-color:#9ca9aa;
} */


.option{


  display: flex;
}
.scroll{
  width: 50px;
  height: 50px;
}

mat-list-option[aria-selected="true"] {
  background-color: #9ca9aa;
  color: #fff;
}
virtual-scroller {
  width: 600px;
  height:auto;

}
.s{
  border-radius: 50%;color: rgba(0,32,59,23);border: 0px;background-color: transparent;
  text-align: center;
}

.s:hover{
  background-color: rgba(1,1,1,0.1);
}
