<br>
<div class="container" data-aos="fade-up"
data-aos-anchor-placement="bottom-bottom" data-aos-duration="1000">
  <mat-grid-list cols="4" rowHeight="80px" >
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
        <a href="tel:911123978046" style="cursor: pointer;text-decoration: none;color: black;display: inline-block;"*ngIf=" tile.text == '91 11 23 978046' "><mat-icon aria-hidden="false" style="font-size: 30px;">call</mat-icon><span>&nbsp; &nbsp;	</span>{{ tile.text }}</a>
        <a href="tel:1075" style="cursor: pointer;text-decoration: none;color: black;display: inline-block;"*ngIf=" tile.text == '1075' "><mat-icon style="font-size: 30px;" aria-hidden="false">person</mat-icon><span>&nbsp; &nbsp;	</span>{{ tile.text }}</a>
      <div *ngIf=" tile.text != '91 11 23 978046' && tile.text != '1075'  " style="color: black;font-weight: 500;font-size: 30px;">{{tile.text}}</div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<br>
<img src="https://www.cowin.gov.in/assets/images/largest-vaccine-banner.jpg" class="img-fluid" data-aos="zoom-in"
data-aos-anchor-placement="bottom-bottom" data-aos-duration="1000">
<div class="main-div">
<mat-card layout="row" layout-align="center center">
  <mat-card-subtitle>Serch Vaccine Centres</mat-card-subtitle>
  <mat-card-content>
    <mat-tab-group [color]="'primary'" [backgroundColor]="'primary'"  style="justify-content: space-between;">
      <mat-tab label="Search by pin">
        <div class="pin" style="justify-content: space-between;">
          <mat-form-field>
          <mat-label>Postal Code</mat-label>
          <input matInput #postalCode maxlength="6" placeholder="Ex. 941056" >
        </mat-form-field>
        <button mat-raised-button color="primary" style="margin-left: 2%;">Search</button>
        </div>
      </mat-tab>
      <mat-tab label="States">
        <div class="pin" style="justify-content: space-between;">
          <form class="States" [formGroup]="stNdDst">
            <mat-form-field class="formfield">
              <mat-label>State</mat-label>
              <input matInput
                     aria-label="State"
                     [matAutocomplete]="auto"
                     [formControl]="stateCtrl" [(ngModel)]="stName"  >
              <mat-autocomplete #auto="matAutocomplete" >

                <mat-option *ngFor="let state of filteredStates | async" [value]="state.state_name" (onSelectionChange)="getdistrict(state.state_id)">

                  <span>{{state.state_name}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <br>
            <mat-form-field class="formfield">
              <mat-label>District</mat-label>
              <input matInput
                     aria-label="District"
                     [matAutocomplete]="auto1"
                     [formControl]="disCtrl" formControlName="dst" [readonly]="dstSelect">
              <mat-autocomplete #auto1=matAutocomplete>
                <mat-option *ngFor="let district of filteredDistrict | async" [value]="district.district_name" (onSelectionChange)="getdata(district.district_id)">

                  <span>{{district.district_name}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        <button mat-raised-button color="primary" style="margin-left: 2%;" >Search</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
</div>
<div *ngIf="table" class="tableview" >
  <mat-list role="mat-list" >
    <mat-list-item role="listitem" *ngFor="let card of center">
      <div class="container" >
        <div class="row">
      <mat-card style="background-color: whitesmoke; width: 100%;">
        <mat-card-header>
          <div class="col-md-4">
          <mat-card-title style="font-size:medium;">{{card.name}}</mat-card-title>
          <mat-card-subtitle style="font-size:smaller;">{{card.address}}</mat-card-subtitle>
        </div>
        </mat-card-header>
        <mat-card-content>
          <ng-template #popTitle><b>Avaiable slot times</b></ng-template>
          <ng-template #popContent ><b>{{card.slots}}</b></ng-template>
          <button mat-stroked-button  [ngbPopover]="popContent" [popoverTitle]="popTitle">
            time
          </button>

        </mat-card-content>

      </mat-card>
    </div>
    </div>
    </mat-list-item>
  </mat-list>

  </div>
<br>
  <footer class="page-footer font-small " style="background-color: #9ca9aa;">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a style="cursor: pointer; color: white;" >Covid Vaccine Booke</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- <app-footer></app-footer> -->
