.mat-label{
  width: 20%;

}
.mat-lable:active{
  background-color: red;
}
.main-div{
  margin-top: 5%;
  justify-content: center;
  margin-bottom: 10%;
}
.tab{
  justify-content: space-between;background-color: whitesmoke;padding: 8px;color: black;
}
mat-card{
  background:rgba(0, 32, 59, 23) ;
}
/* mat-tab-group{
  background-color:#9ca9aa;
} */
.option{
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  text-align:center;
  display: flex;

}
mat-list-option[aria-selected="true"] {
  background-color: #9ca9aa;
  color: #fff;
}
