<ng-container  *ngIf="data1.table" >

<ng-content select="[dates]"></ng-content>




  <mat-chip-list class="vaccineFiltersHolder">
    <mat-chip class="vaccineFilter" >Age 18-44</mat-chip>
    <mat-chip class="vaccineFilter" >Age 45+</mat-chip>
    <mat-chip class="vaccineFilter" >Dose 1</mat-chip>
    <mat-chip class="vaccineFilter" >Dose 2 </mat-chip>
    <mat-chip class="vaccineFilter" >Free</mat-chip>
    <mat-chip class="vaccineFilter" >Paid</mat-chip>
    <mat-chip class="vaccineFilter" >Covishield</mat-chip>
    <mat-chip class="vaccineFilter" >Covaxin</mat-chip>
    <mat-chip class="vaccineFilter" >Sputnik V</mat-chip>
  </mat-chip-list>
  <mat-list role="mat-list" >

    <mat-list-item role="listitem" *ngFor="let card of data1.center | paginate:
    { itemsPerPage: 10, currentPage: p }">
      <div class="container-fluid" >
        <div class="row">
      <mat-card style="background-color: whitesmoke; width:100%;" >
        <mat-card-header style="display: flex;" aria-label="Center">
          <img mat-grid-avatar src="">
          <div class="col-md-6">
          <mat-card-title style="font-size:medium;">{{card.name}}</mat-card-title>
          <mat-card-subtitle style="font-size:smaller;">{{card.address}}</mat-card-subtitle>
        </div>
        <div class="col-md-6-left" >
          <div class="age text-center" style="background-color: green;" *ngIf="card.available_capacity!=0;else booked"> {{card.available_capacity}}</div>
          <ng-template  #booked><div class="age text-center" style="background-color: red;">Booked</div></ng-template>
          <div class="age text-center" style="margin-top: 2px;background-color: transparent;">{{card.fee_type}}</div>

      </div>
        </mat-card-header>
        <mat-card-actions>
          <div class="row">
            <div class="age">Age: {{card.min_age_limit}}+</div>

            <button mat-stroked-button  matTooltip={{card.slots}} [matTooltipPosition]="'above'" >Slots time</button>

            <div style="margin-left: 2%;margin-top: auto;"> Dose 1: </div>
            <div *ngIf="card.available_capacity_dose1!=0;else close" class="box text-center" style="margin-top: auto;">{{card.available_capacity_dose1}}</div>
            <div style="margin-left: 2%;margin-top: auto;"> Dose 2: </div>
            <div *ngIf="card.available_capacity_dose2!=0;else close" class="box text-center">{{card.available_capacity_dose2}}</div>
            <ng-template  #close>
              <mat-icon [ngStyle]="{'color':'red'}" style="margin-top: auto;">close</mat-icon>
            </ng-template>
        </div>


        </mat-card-actions>

      </mat-card>
    </div>
    </div>

    </mat-list-item>

  </mat-list>
<div class="page">
  <pagination-controls
  (pageChange)="p = $event" [responsive]="true" maxSize:10
 ></pagination-controls>
</div>
</ng-container>
